.blog {
  padding-bottom: 100px;
  @media (max-width: $medium-screen) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.blog__image {
  margin-bottom: 10px;
  max-width: 100%;
  width: 100%;
}

.blog__meta {
  @extend .row;
  color: $light-gray;
  @include borders;
  letter-spacing: 1.5px;
  font-size: 12px;
}

.blog__content {
  background-color: #f6f6f6;
  padding: 15px;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 1.1px;
  p {
    margin: 0 0 10px 0;
  }
}

.meta__spacer {
  display: inline-block;
  padding: 0 5px;
}
