/*
=================================================
PORTFOLIO
================================================*/
.page {
  width: 85%;
  padding: 10px 20px;
  z-index: 2;
  position: relative;
  @include clearfix;
  img {
      width: 100%;
      max-width: 100%;
  }
  @media (max-width: $max-width) {
    margin-left: 20px;
    width: 78%;
  }
  @media (max-width: 900px) {
    width: 75%;
  }
  @media (max-width: $medium-screen) {
    width: 100%;
    margin-left: 0;
    @include padding;
  }
}

.portfolio {
  white-space: nowrap;
  position: absolute;
  left: 0;
  padding-right: 300px;
  height: $portfolio-height;
  div {
    height: $portfolio-height;
    display: inline-block;
  }
  img {
    height: 100%;
    margin-right: 15px;
  }
  .row {
    display: none;
    @media (max-width: $medium-screen) {
      display: block;
      @include borders;
    }
  }
  @media (max-width: $medium-screen) {
    top: 20px;
    position: relative;
    @include padding;
    height: auto !important;
    white-space: normal;
    width: 100%;
    img {
      margin-right: 0;
    }
  }
  @include portfolio-responses;
}
