.portfolio {
  white-space: nowrap;
  position: absolute;
  left: 0;
  padding-right: 300px;
  height: $portfolio-height;
  @media (max-width: $medium-screen) {
    top: 20px;
    position: relative;
    @include padding;
    height: auto !important;
    white-space: normal;
    width: 100%;
  }
  @include portfolio-responses;
}

.portfolio__image-wrapper {
  height: 100%;
  display: inline-block;
}

.portfolio__caption {
  @extend .row;
  display: none;
  font-family: $font-theme;
  @media (max-width: $medium-screen) {
    @include borders;
    padding: 5px 0 3px 0;
    font-size: 12px;
    display: block
  }
}

.portfolio__image {
  height: 100%;
  margin-right: 15px;
  @media (max-width: $medium-screen) {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}
