@font-face {
  font-family: 'letter_gothic_medium';
  src: url('../../assets/fonts/letter-gothic-medium.eot?') format('eot');
  src: url('../../assets/fonts/letter-gothic-medium.ttf') format('truetype'),
       url('../../assets/fonts/letter-gothic-medium.otf');
}
