<!DOCTYPE html>
<html>
  <head>
    <title>Francis Mitra</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="conceptual photography, digital creative, travel photography, street photography, web development, new york web developer, new york photographer">
    <meta name="theme-color" content="#333333">
    <meta name="author" content="Francis Mitra">
    <meta name="copyright" content="Francis Mitra">

    <meta property="og:description" content="Creative and technical ventures of a traveling photographer and web developer." />
    <meta property="og:image" content="<%= require('../assets/images/meta/logo.jpg') %>"/>
    <meta property="og:site_name" content="Francis Mitra"/>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
